@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body, body * {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

html, body, #root, .wrapper {
  height: 100%;
}

.suggester {
  height: 32.8%;
  box-shadow: 0 1px 3px #999;
  text-align: center;
  font-weight: 300;
  color: #222;
  font-size: 28px;
  background: #c0392b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  position: relative;
  height: 67.2%;
}

.header-slogan {
  color: white;
  bottom: 0;
  position: absolute;
  transform: translateY(-100%);
  width: 100%;
  font-size: 44px;
}

.search {
  width: 300px;
  line-height: 40px;
  border-radius: 4px;
  border: 0;
  padding: 2px 12px;
  box-shadow: 0 2px 0px #8e44ad;
  font-size: 20px;
}

.book {
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);
    overflow: hidden;
}

.book-image {
    float: left;
}

.book-image {
    margin-right: 20px;
}

.book-title {
    font-size: 28px;
    line-height: 35px;
}

.book-details {
    vertical-align: top;
}

.book-authors {
    font-size: 18px;
    line-height: 24px;
}

.results {
    max-width: 1000px;
    margin: 0 auto;
}
